@import url("https://use.typekit.net/gar5llr.css");

/* Light mode */
:root{
    --highlight:rgb(0, 0, 0);
    --dark:#eaeaea;
    --medDark:#fff;
    --med:#cfcfcf;
    --medLight: #d1d1d1;
    --light:#b3b3b3;
    --highlight1:#12A5B1;
    --highlight2:#203960;
    --radius: 7px;
}
/* Dark mode */
[data-theme="dark"]{
    --highlight:#eaeaea;
    --dark:#333;
    --medDark:#444;
    --med:#555;
    --medLight: #666;
    --light:#777;
    --highlight1:#222;
    --highlight2:#222;
}

[data-theme="red"]{
    --highlight:#ffb2b2;
    --dark:#710000;
    --medDark:#8b2f2f;
    --med:#a62929;
    --medLight: #9e2c2c;
    --light:#ff9292;
    --highlight1:#ff8f8f;
    --highlight2:#ff8383;
}
a{
    text-decoration: none;
    color:inherit;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

body{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}
button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#window{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:grid;
    grid-template-areas: "header header" "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px auto;
    gap: 20px;
    background-color: var(--medDark);
    overflow-x:hidden;
}

#header{
    background-color: var(--dark);
    grid-area: header;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    width: 100%;
    z-index: 8;
}
#buttons{
    display: flex;
    flex-wrap: wrap;
}
#title{
    /* width: 100%; */
    padding: 20px;
    font-weight: 700;
    font-size: 2em;
    width: fit-content;
    /* position:absolute; */
    text-align: center;
}
#graph{
    /*top: 9%;*/
    /* width: 100%; */
    /* height: 500px; */
    /* bottom:0; */
    grid-area: content;
    position:absolute;
}
.icon{
    background-color: var(--med);
    border-radius: var(--radius);
    width: 33px;
    height: 33px;
    padding: 7px;
    margin: 22px 0px 0px 10px;
    cursor:pointer;
    display: grid;
    place-items: center;
    position:relative;
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: var(--light);

  position: absolute;
  bottom: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 100ms transform;
  transform-origin: top center;
}

.tooltip::before {
  --translate-y: calc(100% + var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: .4rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 10rem;
  background: var(--tooltip-color);
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

.tooltip::after {
  --translate-y: var(--arrow-size);

  content: '';
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}

#save, #loadText, #saveLocal, #saveOfficial{
    background-color:var(--med);
    margin:5px;
    padding:5px;
    border-radius: var(--radius);
    font-weight: 700;
    font-size: 1.1em;
}
#saveBoth{
    grid-area: mid-bottom;
    padding: 0px;

}
#loadText{
    width: 200px;
    text-align: center;
    cursor:pointer;
}
#loadSaveWindow{
    z-index: 10;
    display: grid;
    grid-template-areas:  "left-load right-load" "name name" "left-bottom right-bottom" "mid-bottom mid-bottom" "bottom bottom";
    gap:5px;
    background-color: var(--dark);
    box-shadow: #000 3px 3px 10px;
    padding: 15px;
    border-radius: var(--radius);
}
#loadSave{
    grid-area: header;
    right:0;
    position: absolute;
    padding: 5px;
    height: 3rem;
    margin: 0.7rem 0 0 0;
    display: flex;
    flex-direction: row;
    width: max-content;
    z-index: 9;
}
#saveHolder{
    display:flex;
    flex-direction: column;
}
#nameInput{
    grid-area: name;
    background-color: var(--med);
    border-radius: var(--radius);
    /* margin:0; */
    padding:3px;
}
#loadDropContainer, #localSaved, #officialList{
    display: flex;
    top: -5px;
    position: relative;
    flex-direction: column;
    background-color:var(--medDark);
    border-radius: var(--radius);
}
#officialList{
    grid-area: bottom;
}
#loadText:hover + #loadDropContainer{
    display: flex;
}
#loadDropContainer:hover{
    display: flex;
}
.loadName{
    font-weight: 700;
    font-size: 1.1em;
    width: 100%;
}
.loadNameHolder{
    margin:3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.loadDel:hover{
    background-color: #00000044;
}
.loadName:hover{
    background-color: #00000044;
}

#countWindow, #infoWindow{
    z-index:9;
    display:none;
    place-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#00000055;
    z-index: 25;
}
#countNamesHolder, #information{
    z-index: 20;
    display: grid;
    /* gap:5px; */
    background-color: var(--dark);
    box-shadow: #000 3px 3px 10px;
    padding: 15px;
    border-radius: var(--radius);
    margin: 20px 100px;
    max-height: 91%;
    overflow-y: scroll;
}
#countNamesHolder .countName:nth-child(odd){
    background-color: var(--medDark)!important;
}
.countName[boat-karma="negative"]{
    background: linear-gradient(90deg, rgba(255,0,0,0.6) 0%, rgba(0,0,0,0) 50%);
}
.countName[boat-karma="positive"]{
    background: linear-gradient(90deg, rgba(0,255,0,0.6) 0%, rgba(0,0,0,0) 50%);
}

.countName{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width:100%;
    padding: 5px;
}

.boatCount{
    margin: 0px 10px;
}

.absent{
    background-color: #42caca!important;
}
.selected{
    background-color: #f00!important;
}

#left{
    grid-area: left;
    margin: 0 0 20px 20px;
}

#right{
    grid-area: right;
    margin: 0 20px 20px 0;
}

#listContainer{
    background-color: var(--dark);
    height: calc(100% - 20px);
    border-radius: var(--radius);
    overflow: auto;
    padding:10px;
}

#pairingHolder{
    display:grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(17, 47px);
    gap:7px;
}
.pairingHolderPic{
    grid-template-rows:repeat(17,105px)!important;
}
.profilePic{
    object-fit:cover;
    width: 75px;
    height: 75px;
}
.pairSlot{
    background-color: var(--dark);
    border-radius: var(--radius);
    display: grid;
    align-items: stretch;
}
.pairSlot[boatDisplay="true"]:nth-child(2n - 1):nth-child(-2n + 15)::before{
    content:"FJ";
}
.pairSlot[boatDisplay="true"]:nth-child(2n + 17):nth-child(-2n + 27)::before{
    content:"420E";
}
.pairSlot[boatDisplay="true"]:nth-child(2n + 29):nth-child(-2n + 31)::before{
    content:"C420";
}
.pairSlot[boatDisplay="true"]:nth-last-child(2)::before{
    content:"Rotating";
}
.pairSlot::before{
    z-index: 2;
    position: absolute;
    color:var(--highlight2); 
    padding: 15px;
    text-align: right;
}
.pairSlot[boatDisplay="false"]:nth-child(2n - 1)::after{
    content:"Skipper";
    color:var(--highlight2);
}
.pairSlot:nth-child(2n - 1) .name{  
    color:var(--highlight2);
}
.pairSlot:nth-child(2n)::after{
    content:"Crew";
    color:var(--highlight1);
}
.pairSlot:nth-child(2n) .name{
    color:var(--highlight1);
}
.pairSlot .name:nth-child(2){
    display: none;
}

.pairSlot::after{
    position:absolute;
    font-weight: 500;
    text-align: center;
    padding: 15px;
}
.name{
    cursor:grab;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
#right .name{
    /* display:inline-block; */
    background-color:var(--med);
    width:calc(50% - 20px);
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    margin:5px;
    border-radius: var(--radius);
    padding:5px;
    color: var(--highlight);
}
.pairSlot .name{
    /* display:inline-block; */
    background-color:var(--med);
    z-index: 1;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    margin:7px;
    border-radius: var(--radius);
    padding:5px;
    align-self: flex-start;
}

#loadingEl{
    position:absolute;
    left:49%;
    top:49%;
    width: 30px;
    height: 30px;
    display: none;
    background:var(--highlight);
    animation: loadingAnim 2s infinite;
    animation-timing-function: linear;
    z-index: 99999;
}
@keyframes loadingAnim {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
#invLink{
    top:0;
    right:0;
    left:0;
    bottom:0;
    position: absolute;
}
#addDataset{
    background-color: var(--med);
    width: 30px;
    height: 30px;
    text-align: center;
    /* padding-top: 5px; */
    font-size: 1.5em;
    border-radius: var(--radius);
    margin: 10px;
    cursor: pointer;
    right: 0;
}
.flexGap{
    flex-grow:1;
}
.delDataset{
    background-color: var(--med);
    float: right;
    padding-top: 3px;
    margin: 10px;
    border-radius: var(--radius);
    aspect-ratio: 1/1;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}
#addDataset:hover{
    background-color: var(--medLight);
}
#datasets{
    grid-area:datasets;
    z-index: 9;
}
.dataset{
    width: calc(100%-20px);
    margin:10px;
    display: flex;
    /* grid-auto-flow: column; */
    /* grid-template-columns: repeat(4, 1fr); */
    flex-direction: row;
    background-color: var(--light);
    border-radius: var(--radius);
    /* position:relative; */
    height: 60px;
}
.dropLabel{
    pointer-events: none;
}
.dropdown{
    background: var(--medLight);
    /* z-index: 8; */
    width:100px;
    /* min-height: 30px;
    max-height: 150px; */
    /* overflow: auto; */
    margin: 10px;
    border-radius: var(--radius);
    /* padding: 5px; */
    text-align: center;
    display: inline-block;
    position: relative;
    padding-top: 10px;
}
.dropdownMenu{
    position:absolute;
    opacity: 0;
    left:0;
    top: 90%;
    width: 100px;
    border-radius: 0px 0px var(--radius) var(--radius);
    background-color: var(--medLight);
    transform:translateY(-10px);
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    overflow-y: auto;
    max-height: 300px;
    z-index: 9;
}
.dropdown.active > .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.dropdown:hover, .dropdown.active, .delDataset:hover{
    background-color: var(--medDark);
}

/* .dropdown:hover :nth-last-child(n){
    display:block;
} */
.dropMember{
    /* display: none; */
    /* background-color:var(--med); */
    margin: 5px;
    padding:5px;
    border-radius:var(--radius);
}
.dropMember:hover{
    background-color: var(--medDark);
}


/*For moblie stuffs*/
@media only screen and (max-width:1000px){
    #window{
        grid-template-areas: "header header" "left left" "right right" "footer footer" ;
        grid-template-rows: auto auto auto 12%;
        gap:0;
    }
    #placeholder{
        flex-grow: 1;
    }
    #loadSave{
        margin: 25px 0 0 0;
        grid-area: footer;
        position: absolute;
        flex-direction: column;
        width: 100%!important;
    }
    #loadSaveWindow{
        margin: 30px;
    }
    #left{
        margin:10px;
    }
    #right{
        margin:0 10px;
    }
    #title{
        padding:5px;
        font-size: 1.6em;
    }
    .icon{
        margin:5px;
    }
    #loadText{
        right: 0;
        width: auto;
    }
    #listContainer{
        display: grid;
        width: 97%;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        gap:10px;
    }
    #right .name{
        width: 98%;
    }
    #countNamesHolder{
        margin:20px;
    }
    .tooltip::after, .tooltip::before{
        display: none;
    }
}