@import url("https://use.typekit.net/gar5llr.css");
/* Dark mode */
/* :root{
    --highlight:#fff;
    --dark:#333;
    --medDark:#444;
    --med:#555;
    --medLight: #666;
    --light:#777;
    --highlight1:#222;
    --highlight2:#222;
} */
/* Light mode */
:root{
    --highlight:rgb(0, 0, 0);
    --dark:#eaeaea;
    --medDark:#fff;
    --med:#cfcfcf;
    --medLight: #d1d1d1;
    --light:#b3b3b3;
    --highlight1:#12A5B1;
    --highlight2:#203960;
    --radius: 7px;
}

body{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
}
button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#window{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:grid;
    grid-template-areas: "header header" "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8% auto;
    gap: 20px;
    background-color: var(--medDark);
    overflow-x:hidden;
}

#header{
    background-color: var(--dark);
    grid-area: header;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    z-index: 2;
}
#title{
    /* width: 100%; */
    padding: 20px;
    font-weight: 700;
    font-size: 2em;
    width: fit-content;
    /* position:absolute; */
    text-align: center;
}
#graph{
    top: 9%;
    width: 100%;
    bottom:0;
    position:absolute;
}
#modeToggle{
    /* position:absolute; */
    /* top:4%; */
    background-color: var(--med);
    border-radius: var(--radius);
    width: 33px;
    height: 33px;
    padding: 5px;
    margin: 22px 0px;
    /* left: 50%; */
}
#resetPairs,#randomPairs, #squareMode, #graphMode{
    background-color: var(--med);
    border-radius: var(--radius);
    width: 33px;
    height: 33px;
    padding: 7px;
    margin: 22px 0px 0px 10px;
}
#randomPairs{
    padding: 5px;
}
#squareMode{
    padding: 8px;
}
#graphMode{
    padding:0 0 0 25px;
}
#save, #loadText, #saveLocal{
    /* position: absolute; */
    /* right: 0; */
    /* top:50%; */
    /* z-index: 100; */
    background-color:var(--med);
    margin:5px;
    padding:5px;
    border-radius: var(--radius);
    font-weight: 700;
    font-size: 1.1em;
}
#loadText{
    width: 200px;
    text-align: center;
}
#loadSaveWindow{
    /* position: absolute; */
    /* left: 42%; */
    /* top: 35%; */
    z-index: 10;
    display: grid;
    grid-template-areas:  "left-load right-load" "name name" "left-bottom right-bottom";
    gap:5px;
    background-color: var(--dark);
    box-shadow: #000 3px 3px 10px;
    padding: 15px;
    border-radius: var(--radius);
}

#loadSave{
    grid-area: header;
    right:0;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: max-content;
    z-index: 3;
}
#saveHolder{
    display:flex;
    flex-direction: column;
}
#nameInput{
    grid-area: name;
    background-color: var(--med);
    border-radius: var(--radius);
    /* margin:0; */
    padding:3px;
}
#loadDropContainer, #localSaved{
    display: flex;
    top: -5px;
    position: relative;
    flex-direction: column;
    background-color:var(--medDark);
    border-radius: var(--radius);
}
#loadText:hover + #loadDropContainer{
    display: flex;
}
#loadDropContainer:hover{
    display: flex;
}
.loadName{
    font-weight: 700;
    font-size: 1.1em;
    width: 100%;
}
.loadNameHolder{
    margin:3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.loadDel:hover{
    background-color: #00000044;
}
.loadName:hover{
    background-color: #00000044;
}
.selected{
    background-color: #f00!important;
}

#left{
    grid-area: left;
    margin: 0 0 20px 20px;
}

#right{
    grid-area: right;
    margin: 0 20px 20px 0;
}

#listContainer{
    background-color: var(--dark);
    height: calc(100% - 20px);
    border-radius: var(--radius);
    overflow: auto;
    padding:10px;
}

#pairingHolder{
    display:grid;
    width: 100%;height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(16, 47px);
    gap:7px;
}
.pairSlot{
    background-color: var(--dark);
    border-radius: var(--radius);
    display: grid;
    align-items: stretch;
}
.pairSlot:nth-child(2n - 1)::before{
    content:"Skipper";
    color:var(--highlight2);
}
.pairSlot:nth-child(2n - 1) .name{
    color:var(--highlight2);
}
.pairSlot:nth-child(2n)::before{
    content:"Crew";
    color:var(--highlight1);
}
.pairSlot:nth-child(2n) .name{
    color:var(--highlight1);
}
.pairSlot .name:nth-child(2){
    display: none;
}

.pairSlot::before{
    position:absolute;
    font-weight: 500;
    text-align: center;
    padding: 15px;
}

#right .name{
    display:inline-block;
    background-color:var(--med);
    width:calc(50% - 20px);
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    margin:5px;
    border-radius: var(--radius);
    padding:5px;
    color: var(--highlight);
}
.pairSlot .name{
    display:inline-block;
    background-color:var(--med);
    z-index: 1;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    margin:7px;
    border-radius: var(--radius);
    padding:5px;
    align-self: flex-start;
}

#loadingEl{
    position:absolute;
    left:45%;
    top:45%;
    background:var(--highlight);
    animation: loadingAnim 2s infinite;
    animation-timing-function: linear;
}
@keyframes loadingAnim {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
#invLink{
    top:0;
    right:0;
    left:0;
    bottom:0;
    position: absolute;
}

/*For moblie stuffs*/
@media only screen and (max-width:1000px){
    #window{
        grid-template-areas: "header header" "left left" "right right" "footer footer" ;
        grid-template-rows: 8% auto auto 12%;
        gap:0;
    }
    #placeholder{
        flex-grow: 1;
    }
    #loadSave{
        margin: 25px 0 0 0;
        grid-area: footer;
        position: absolute;
    }
    #left{
        margin:10px;
    }
    #right{
        margin:0 10px;
    }
    #title{
        padding:5px;
    }
    #modeToggle, #resetPairs, #randomPairs, #squareMode{
        margin:5px;
    }
    #loadSave{
        flex-direction: column;
        width: 100%!important;
    }
    #loadText{
        right: 0;
        width: auto;
    }
    #listContainer{
        display: grid;
        width: 97%;height: 100%;
        grid-template-columns: 1fr 1fr;
        gap:10px;
    }
    #right .name{
        width: 98%;
    }
}